<aside>
   <img src="{{user.imgPath}}" alt="" style="width:100px;height:100px">
   <h1>{{user.username}}</h1>
   <h3><a href="/social/profile">My Profile</a></h3>
   <h3><a href="/social/friends">Friends</a></h3>
   <h3><a href="/social/settings">Settings</a></h3>
</aside>

<section>
  <form action="" method="post">
  <div>
    <label>Find friend</label>
    <input type="text" name="friendUsername">
    {{#if error }}
  <div class="error-message">{{ error }}</div>
  {{/if}}
    <input type="text" name="userid" value="{{user.id}}" hidden>
    <input type="submit" value="Add">
  </div>
  </form>
  
  {{#each myUser.friends}}
  <img src="{{this.imgPath}}" alt="" style="width:100px;height:100px;">
  <p>{{this.username}}</p>
  <button><a href="/social/chat">Chat</a></button>
  {{/each}}
</section>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script>

